$site-width: 1600px;

@mixin cards_text($width) {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $width;
    height: 82px;
    background-color: #ffffff;
    top: 27px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    box-sizing: unset;
}

p,
ul,
a,
h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1598px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.left-header-block {
    display: flex;
    align-items: center;
    margin-left: 227px;
    gap: 37px;

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px;
    }

    .browse {
        display: flex;
        align-items: center;

    }

    .browse_button {
        width: 87px;
        height: 38px;
        background-color: #cdcdcc;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
    }

    .search_form {
        display: flex;
        flex-wrap: nowrap;
    }

    .search_button {
        height: 38px;
        width: 40px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
        float: left;
    }

    .search_field {
        width: 317px;
        height: 38px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #a4a4a4;
        padding-left: 16px;
        border-right: none;
        float: left;

        &:focus-visible {
            outline: none;
        }
    }
}

.top-menu {

    &__ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        gap: 20px;
    }

    &__link {
        width: 87px;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
        border: 1px solid #e6e6e6;
        border-right: none;
        border-radius: 3px 0px 0px 3px;
        height: 39px;
        background-color: #cdcdcc;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__box {
        flex-direction: column;
        display: none;
        padding-left: 15px;
        position: absolute;
        top: 75px;
        width: 262px;
        height: 530px;
        background-color: #ffffff;
        border-radius: 5px;
        z-index: 23;

        &__heading {
            font-family: Lato;
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
            width: 235px;
            border-bottom: 1px solid #e8e8e8;
            margin-top: 10px;

        }

        &__link {
            font-family: Lato;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;

        }
    }
}

.top-menu__link:hover {
    background-color: #ef5b70;
    color: #ffffff;

}

.top-menu__box__link:hover {
    color: #f16d7f;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.top-menu__box {
    display: flex;
}

.BRAN {
    display: flex;
    align-items: flex-end;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #3e3e40;
}

.D {
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 900;
    color: #f16d7f;
}



.header-logo img {
    width: 59px;
    height: 51px;
}

.right-header-block {
    display: flex;
    gap: 33px;
    margin-right: 231px;
    align-items: center;

    .button-right {
        width: 130px;
        height: 38px;
        background-color: #f16d7f;
        font-family: Lato;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        border: none;
        border-radius: 3px;
    }

}

.right-header-block path {
    fill: #222222;
}

.right-header-block a:hover path {
    fill: #ef5b70;

}


.left-menu-nav {
    width: $site-width;
}

input[type="checkbox"] {
    display: none;
}

.left-menu {
    margin: 0 230px;


    &__ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        gap: 33px;
    }

    &__link {
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        position: relative;
        display: flex;
        align-items: center;

    }

    .border {
        width: 1140px;
        height: 1px;
        background-color: #e8e8e8;
        margin-top: 33px;
        border: none !important;
    }

    &__box {
        justify-content: space-between;
        display: none;
        padding: 35px 167px 0 35px;


        &__item {
            display: flex;
            flex-direction: column;


            &__h2 {
                font-family: Lato;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222222;

                &_12px {
                    font-size: 12px;
                }
            }

            &__p {
                font-family: Lato;
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #b3b2b2;
                padding-top: 8px;
                padding-bottom: 33px;

                &_pad {
                    padding-bottom: 0;
                    padding-top: 0;
                }

                &_pad27 {
                    padding-bottom: 27px;
                }
            }

            &__check {
                display: flex;
                gap: 10px;
                font-style: normal;
                padding-bottom: 10px;

                &_pb {
                    padding-bottom: 33px;
                }
            }

            &__checkout {
                font-family: Lato;
                font-size: 12px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222222;
            }

            input[type='radio'] {
                position: relative;
                height: 14px;
                width: 14px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
            }

            input[type='radio']::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: #ffffff;
                border: 2px solid #555555;
            }

            input[type='radio']:checked::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #000000;
                transform: translate(-50%, -50%);
                visibility: visible;
            }

            &__a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                font-family: Lato;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #4a4a4a;
            }

            &__a:hover {
                background-color: #ef5b70;
                color: #ffffff;
            }

            &__a_hov:hover {
                color: #ef5b70
            }

            &__email {
                width: 390px;
                height: 45px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                margin-top: 16px;
                margin-bottom: 23px;
                color: #000000;
                padding-right: 20px;

                &:focus-visible {
                    outline: none;
                }
            }

            &__required {
                font-family: Lato;
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #ff0d0d;
            }

            &__forgot__passwd {
                display: flex;
                align-items: center;

                &__a {
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #222222;
                    padding-left: 32px;

                    &:hover {
                        color: #f16d7f;
                    }
                }
            }
        }
    }

    .lorem_p {
        padding-top: 15px;
        color: #222222;
    }
}

.required_field {

    font-family: Lato;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;

}

.left-menu__link:hover {
    // background-color: #ef5b70;
    color: #ef5b70;
}


input[type="checkbox"]:checked~.left-menu__box {
    display: flex;
}



.header_bottom {
    width: $site-width;
    background-color: #ffffff;
    margin: 0 auto;

    .menu {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    .menu-list {
        position: relative;
        z-index: 2;
    }

    .menu-link {
        text-decoration: none;
        display: block;
        padding: 20px 25px;
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
    }

    .mega-box {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: auto;
    }

    .menu-headding {
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        width: 235px;
        border-bottom: 1px solid #e8e8e8;
    }

    .mega-link {
        display: block;
        font-family: Lato;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #646464;
        text-decoration: none;
    }

    .mega-link:hover {
        color: #f16d7f;
    }

    .menu-item {
        margin-right: 46px;

        &-in-item {
            margin-top: 24px;
        }

        &_img {

            margin-top: 22px;
        }

        &-img-container {
            position: relative;
            text-align: center;

            &-text {
                position: absolute;
                font-family: Lato;
                font-size: 22px;
                line-height: 28px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #ffffff;
                bottom: 12px;
                right: 10px;
            }
        }
    }

    .menu-item:last-of-type {
        margin-right: 0;
    }

    .mega-box::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        position: absolute;
        top: -6px;
        left: 33px;
        transform: rotate(45deg);
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
    }

    .menu-list:hover .mega-box {
        display: flex;
    }

    .last:hover .mega-box {
        right: 0;
        left: auto;
    }

    .last:hover .mega-box::before {
        right: 50px;
        left: auto;
    }

}

.new-arrivals {
    width: $site-width;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f3f4;
    margin-bottom: 71px;

    &__link {
        margin-left: 228px;
        font-family: Lato;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #f16d7f;
    }

    .ul-refs {
        margin-right: 230px;
        display: flex;
        list-style-type: none;

        &__li:not(:last-child)::after {
            content: "/";
            padding-left: 4px;
            padding-right: 4px;
            font-family: Lato;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #636363;
        }

        &__li:last-child .ul-refs__a {
            font-family: Lato;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #f16d7f;
        }

        &__a {
            font-family: Lato;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #636363;
        }

        &__a:hover {
            color: #f16d7f;
        }

        &__li:last-child .ul-refs__a:hover {
            color: #636363;
        }
    }
}

.sales {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 341px;
    width: 1600px;
    background-color: rgb(34, 34, 36);
    margin-top: 110px;
}

.free_delivery {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 134px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.sales_text_h2 {
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.sales_text_p {
    font-family: Lato;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    width: 310px;
}

.subscribe__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $site-width;
    height: 438px;
    background-image: linear-gradient(rgba(244, 244, 244, 0), rgba(244, 244, 244, 0.7)),
        url("./img/subscr_backgr.png");


    .subscribe_info {
        display: flex;
        flex-direction: row;
        width: 560px;
        height: 225px;
        align-items: center;
        justify-content: center;
        padding-left: 230px;
        gap: 28px;

        .for_svg {
            background: #eeeeee;
            width: 83px;
            height: 83px;
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 22px;
        }

        .subscribe_info_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .Vestibulum {
                font-family: Lato;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: 0.025em;
                color: #222224;
                width: 400px;
                margin-bottom: 19px;
            }

            .bin_burh {
                font-family: Lato;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #f16d7f;
                text-align: left;
            }

            .dhaka {
                font-size: 12px;
                line-height: 14px;
                font-weight: 300;
                color: #222224;
            }
        }

        &__photo-choose {
            display: flex;
            gap: 13px;
            margin-top: 41px;

            &_a {
                width: 38px;
                height: 4px;
                background-color: #d6d6d6;

                &:hover {
                    background-color: #f16d7f;
                }
            }
        }
    }


    .whiteline {
        width: 1px;
        height: 438px;
        background-color: #ffffff;
    }



    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 557px;
        height: 142px;
        padding-right: 230px;

        .subcribe_text_top {
            font-family: Lato;
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }

        .subcribe_text_bottom {
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.025em;
            text-transform: none;
            color: #222224;
            font-weight: 400;
        }

        .div_for_input {
            display: flex;
            padding-top: 28px;

            .div_for_input_left {
                display: flex;
                align-items: center;
                width: 256px;
                height: 49px;
                background: rgb(225, 225, 225);
                border-radius: 20px 0 0 20px;

                .input {
                    width: 220px;
                    height: 46px;
                    color: rgb(34, 34, 36);
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    text-align: left;
                    opacity: 0.67;
                    background: rgb(225, 225, 225);
                    margin-left: 20px;
                    border: none;
                    padding-right: 20px;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .button_input_right {
                display: flex;
                width: 100px;
                height: 49px;
                background: rgb(241, 109, 127);
                border: none;
                border-radius: 0 20px 20px 0;
                color: rgb(255, 255, 255);
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #ef5b70;
                    background-color: #ffffff;
                }
            }


        }
    }
}



.for_svg svg {
    position: absolute;
    top: 15px;
    left: -5px;
    width: 96px;
    height: 96px;
    transform: scale(1.5);
}


.top-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $site-width;
    height: 458px;

    &-a {
        font-family: Lato;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;

        &:hover {
            color: #ef5b70;

        }
    }

    &-h2 {
        font-family: Lato;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #f16d7f;
        padding-top: 20px;
        margin-bottom: 35px;
    }

    &-1 {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin-right: 64px;

        &-text {
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }

        &-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 13px;
            margin-bottom: 29px;
        }
    }

    &-2 {
        max-width: 150px;
        display: flex;
        flex-direction: column;
        margin-right: 129px;
    }

    &-3 {
        max-width: 150px;
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }

    &-4 {
        max-width: 180px;
        display: flex;
        flex-direction: column;
    }
}

.top-footer img {
    width: 59px;
    height: 51px;
}

.footer {
    width: $site-width;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;

    .footer_left {
        width: 332px;
        height: 19px;
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
        margin-left: 228px;
    }

    .div_icons {
        display: flex;
        gap: 8px;
        width: 200px;
        height: 35px;
        margin-right: 231px;

        .footer_icons {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255, 255, 255);
            width: 35px;
            height: 35px;
        }

    }

    .footer_icons:hover image {
        filter: brightness(10);
    }

    .footer_icons:hover path {
        fill: white;
    }

    .footer_icons:hover {
        background-color: rgb(241, 109, 127);
    }
}